<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Clubs Index Page</h1>

      <ul>
        <% for (let i=0; i<clubs.length; i++) { %>
            <li>
            <%= clubs[i].name%>
            <%= clubs[i].city%>
            </li>

          </ul>


      <% } %>

      </ul>



  </body>
</html>
