<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>New Clubs Page</h1>

    <form action="/clubs" method="POST">
      Name:<input type="text" name="name">
      City:<input type="text" name="city">
      Titles Won:<input type="text" name="titlesWon">
      <img></img>
    </form>
  </body>
</html>
