<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Show Clubs</h1>

  The <%= clubs.name %> is located in <%= clubs.city %>

    <img src="<%= clubs.image %>"></br>

  </body>
</html>
