<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Users</h1>

      <nav>
        <ul>
          <li><button type="text"><a href="/">Home</a></button></li>
          <li><button type="text"><a href="/users/new">Create New User</a></button></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
