<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to Photo App!</h1>

    <ul>
      <li><button type="submit"><a href="">Create New Post</a></button></li>
      <li><button type="submit"><a href="">All Users</a></button></li>
      <li></li>
    </ul>


  </body>
</html>
